$first-color: #012970;
$alt-color: #4154f1;
$box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
$light-bg: #f6f9ff;
$opan-sans: "Open Sans", sans-serif;
$nunito: "Nunito", sans-serif;
$poppins: "Poppins", sans-serif;
$transition: 0.3s ease;
