/* Start Blank Page */
.blank {
  .card {
    @include unwantedRemove;
    margin-bottom: 30px;
    h4 {
      font: {
        size: 18px;
        weight: 500;
        family: $poppins;
      }
      color: $first-color;
    }
  }
}
/* End Blank Page */
